# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
screenshots

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directory
node_modules

# Window
Thumbs.db
Desktop.ini

# MAC
.DS_Store

# etc
*.swp
temp
report
*.vim
.\#*
dist/
